---
layout: shropshire
title: Churches of Shropshire
---

{% include 1-header.html %}

{% for item in site.data.Shropshire_Notebook-Churches %}

{% if item.Type == "Item" %}

{% if orientation == "right" %}
  {% assign orientation = "left" %}
{% else %}
  {% assign orientation = "right" %}
{% endif %}

<div class="rowh">
  <div class="columnhl">
    <h2>{{ item.Date }}</h2>
  </div>
  <div class="columnhr">
    <h3>{{ item.Name }}</h3>
    <img src="assets/images/churches/{{ item.Thumbnail }}" alt="" align="{{ orientation }}" style="max-width:100%" width="75%">
    {{ item.Description | markdownify }}
  </div>
  {% for subimage in item.Sub-Images %}
  {% if forloop.first %}<div class="columnsir">{% endif %}
    <img src="assets/images/churches-sub/{{ subimage.Sub-Image }}" alt="" style="max-width:100%">
  {% if forloop.last %}</div>{% endif %}
  {% endfor %}
</div>

{% endif %}

{% endfor %}

{% include 1-footer.html %}
