---
---

#container{width:500px;overflow:hidden}

.photobanner img{-webkit-transition:all .5s ease;-moz-transition:all .5s ease;-o-transition:all .5s ease;-ms-transition:all .5s ease;transition:all .5s ease}

.photobanner img:hover{-webkit-transform:scale(1.1);-moz-transform:scale(1.1);-o-transform:scale(1.1);-ms-transform:scale(1.1);transform:scale(1.1);cursor:pointer;-webkit-box-shadow:0 3px 5px rgba(0,0,0,.2);-moz-box-shadow:0 3px 5px rgba(0,0,0,.2);box-shadow:0 3px 5px rgba(0,0,0,.2)}

{% for item in site.data.Shropshire_Notebook-Churches %}
{% if item.Offset %}
.first{{ forloop.index }}{-webkit-animation:bannermove{{ forloop.index }} 20s linear infinite;-moz-animation:bannermove{{ forloop.index }} 20s linear infinite;-ms-animation:bannermove{{ forloop.index }} 20s linear infinite;-o-animation:bannermove{{ forloop.index }} 20s linear infinite}
@keyframes bannermove{{ forloop.index }}{0%{margin-left:0}100%{margin-left:{{ item.Offset }}px}}
@-moz-keyframes bannermove{{ forloop.index }}{0%{margin-left:0}100%{margin-left:{{ item.Offset }}px}}
@-webkit-keyframes bannermove{{ forloop.index }}{0%{margin-left:0}100%{margin-left:{{ item.Offset }}px}}
@-ms-keyframes bannermove{{ forloop.index }}{0%{margin-left:0}100%{margin-left:{{ item.Offset }}px}}
@-o-keyframes bannermove{{ forloop.index }}{0%{margin-left:0}100%{margin-left:{{ item.Offset }}px}}
{% endif %}
{% endfor %}
