---
layout: shropshire
title: Landscape of Shropshire
---

{% include 1-header.html %}

<div class="rowh">

{% assign numrecs = 0 %}

{% for item in site.data.Shropshire_Notebook-Landscape %}

{% assign numrecs = numrecs | plus: 1 %}

{% if item.Type == "Item" %}

{% if orientation == "left" %}
  {% assign orientation = "right" %}
  <div class="columnpr">
  <h3>{{ item.Name }}</h3>
  <img src="assets/images/landscape/{{ item.Thumbnail }}" alt="" style="max-width:100%">
  {{ item.Description | markdownify }}
  </div>
</div>
<div class="rowh">
{% else %}
  {% assign orientation = "left" %}
  <div class="columnpl">
  <h3>{{ item.Name }}</h3>
  <img src="assets/images/landscape/{{ item.Thumbnail }}" alt="" style="max-width:100%">
  {{ item.Description | markdownify }}
  </div>
{% endif %}

{% endif %}

{% endfor %}

</div>

<p>Number of records: {{ numrecs }}</p>

{% include 1-footer.html %}
