---
layout: shropshire
title: Latest Images
---

{% include 1-header.html %}

<div class="rowh">

{% for item in site.data.Shropshire_Notebook-Recent %}

{% if item.Type == "Item" %}

{% if orientation == "left" %}
  {% assign orientation = "right" %}
  <div class="columnpr">
  <img src="assets/images/{{ item.Thumbnail }}" alt="" style="max-width:100%" width="75%">
  </div>
</div>
<div class="rowh">
{% else %}
  {% assign orientation = "left" %}
  <div class="columnpl">
  <img src="assets/images/{{ item.Thumbnail }}" alt="" style="max-width:100%" width="75%">
  </div>
{% endif %}

{% endif %}

{% endfor %}

</div>

{% include 1-footer.html %}
