---
layout: default
title: People of Shropshire
---

{% include header.html %}

{% for item in site.data.Shropshire_Notebook-People %}

{% if item.Type == "Item" %}
{% if orientation == "right" %}
  {% assign orientation = "left" %}
{% else %}
  {% assign orientation = "right" %}
{% endif %}
<div class="rowh">
  <div class="columnhl">
  <h2>{{ item.Date }}</h2>
  </div>
  <div class="columnhr">
  <h3>{{ item.Name }}</h3>
      <img src="assets/images/people/{{ item.Thumbnail }}" alt="" align="{{ orientation }}">
{{ item.Description | markdownify }}
  </div>
</div>
{% endif %}

{% endfor %}

{% include footer.html %}
