<!-- Header -->
<ul class="tb">
  <li class="tb"><a href="../index.html">Home</a></li>
{% if page.name == "1-index.html" %}
  <li class="tb"><a class="active" href="1-index.html">Introduction</a></li>
{% else %}
  <li class="tb"><a href="1-index.html">Introduction</a></li>
{% endif %}
{% if page.name == "1-recent.html" %}
  <li class="tb"><a class="active" href="1-recent.html">Latest</a></li>
{% else %}
  <li class="tb"><a href="1-recent.html">Latest</a></li>
{% endif %}
{% if page.name == "1-history.html" %}
  <li class="tb"><a class="active" href="1-history.html">History</a></li>
{% else %}
  <li class="tb"><a href="1-history.html">History</a></li>
{% endif %}
{% if page.name == "1-landscape.html" %}
  <li class="tb"><a class="active" href="1-landscape.html">Landscape</a></li>
{% else %}
  <li class="tb"><a href="1-landscape.html">Landscape</a></li>
{% endif %}
{% if page.name == "1-castles.html" %}
  <li class="tb"><a class="active" href="1-castles.html">Castles</a></li>
{% else %}
  <li class="tb"><a href="1-castles.html">Castles</a></li>
{% endif %}
{% if page.name == "1-churches.html" %}
  <li class="tb"><a class="active" href="1-churches.html">Churches</a></li>
{% else %}
  <li class="tb"><a href="1-churches.html">Churches</a></li>
{% endif %}
{% if page.name == "1-houses.html" %}
  <li class="tb"><a class="active" href="1-houses.html">Houses</a></li>
{% else %}
  <li class="tb"><a href="1-houses.html">Houses</a></li>
{% endif %}
{% if page.name == "1-people.html" %}
  <li class="tb"><a class="active" href="1-people.html">People</a></li>
{% else %}
  <li class="tb"><a href="1-people.html">People</a></li>
{% endif %}
{% if page.name == "1-folklore.html" %}
  <li class="tb"><a class="active" href="1-folklore.html">Folklore</a></li>
{% else %}
  <li class="tb"><a href="1-folklore.html">Folklore</a></li>
{% endif %}
{% if page.name == "1-places.html" %}
  <li class="tb"><a class="active" href="1-places.html">Places</a></li>
{% else %}
  <li class="tb"><a href="1-places.html">Places</a></li>
{% endif %}
{% if page.name == "1-gardens.html" %}
  <li class="tb"><a class="active" href="1-gardens.html">Gardens</a></li>
{% else %}
  <li class="tb"><a href="1-gardens.html">Gardens</a></li>
{% endif %}
{% if page.name == "1-miscellaneous.html" %}
  <li class="tb"><a class="active" href="1-miscellaneous.html">Other</a></li>
{% else %}
  <li class="tb"><a href="1-miscellaneous.html">Other</a></li>
{% endif %}
</ul>

<div class="rowh">
<div class="columntl">
<h1>{{ page.title }}</h1>
{% if page.name == "1-castles.html" %}
<iframe src="https://www.google.co.uk/maps/d/embed?mid=1Z-t4uPsodgBWqsR6SZCLVMP1tgJzqqxA" width="440" height="300"></iframe>
{% endif %}
{% if page.name == "1-churches.html" %}
<iframe src="https://www.google.co.uk/maps/d/embed?mid=129Y_cZQyAUwAwyFNFb-jWPcMyX8aBOPZ" width="440" height="300"></iframe>
<iframe src="https://www.google.co.uk/maps/d/embed?mid=1UBGi054_OErBBCFvxLHzmffegbrRhGFx" width="440" height="300"></iframe>
{% endif %}
</div>
</div>
