<h2 id="29-aug-2021">29 Aug 2021</h2>
<p>Added the following item:</p>

<ul>
  <li>Lilleshall Monument</li>
  <li>Lilleshall Church</li>
</ul>

<h2 id="21-aug-2021">21 Aug 2021</h2>
<p>Added the following item:</p>

<ul>
  <li>Grinshill Church</li>
  <li>Clive Church</li>
</ul>

<h2 id="14-aug-2021">14 Aug 2021</h2>
<p>Added the following item:</p>

<ul>
  <li>More Church</li>
</ul>

<p>Updated the following:</p>

<ul>
  <li>Alberbury Church</li>
  <li>Cardeston Church</li>
  <li>Bishop’s Castle Church</li>
</ul>

<h2 id="25-jul-2021">25 Jul 2021</h2>
<p>Added inside photos for Baschurch church.</p>

<h2 id="21-jul-2021">21 Jul 2021</h2>
<p>Added the following item:</p>

<ul>
  <li>Lawley Church</li>
  <li>Little Wenlock Church</li>
  <li>Loppington Church</li>
  <li>Beech House, Ellesmere</li>
  <li>Canal Yard Workshops, Ellesmere</li>
</ul>

<h2 id="18-jul-2021">18 Jul 2021</h2>
<p>Added the following item:</p>

<ul>
  <li>Bourton Church</li>
  <li>Holdgate Church</li>
  <li>A general view</li>
  <li>Hopton Castle (landscape)</li>
  <li>Stanton Long Church</li>
</ul>

<h2 id="11-jul-2021">11 Jul 2021</h2>
<p>Added inside photos for Church Pulverbatch church.</p>

<p>Added inside photos for Stapleton church.</p>

<h2 id="04-jul-2021">04 Jul 2021</h2>
<p>Added the following item:</p>

<ul>
  <li>Sutton Maddock Church</li>
</ul>

<h3 id="03-jul-2021">03 Jul 2021</h3>
<p>Added the following item:</p>

<ul>
  <li>Ford Church</li>
</ul>

<h3 id="26-jun-2021">26 Jun 2021</h3>
<p>Add more pictures of Benthall church.</p>

<h3 id="25-jun-2021">25 Jun 2021</h3>
<p>Added the following items:</p>

<ul>
  <li>Astley Church</li>
  <li>Ashfield Hall, Much Wenlock</li>
  <li>Yew Tree, Church Preen</li>
  <li>Church Preen Church</li>
  <li>Hughley Church</li>
  <li>Pontesbury Church</li>
  <li>Church Aston Church</li>
  <li>Norton-in-Hales Church</li>
</ul>

<p>Update picture for Sheinton church.</p>

<h3 id="16-may-2021">16 May 2021</h3>
<p>Update pictures and information for Adderley church.</p>

<h3 id="13-may-2021">13 May 2021</h3>
<p>Additional pictures and text for Upton Magna church.</p>

<h3 id="27-apr-2021">27 Apr 2021</h3>
<p>Added the following items:</p>

<ul>
  <li>Edstaston Church</li>
</ul>

<h3 id="18-apr-2021">18 Apr 2021</h3>
<p>Added the following items:</p>

<ul>
  <li>Alberbury Castle</li>
  <li>Great Wollaston Castle</li>
  <li>‘Old Tom’ Parr</li>
  <li>Great Wollaston Church</li>
  <li>Stockton Church</li>
</ul>

<p>Replace photo of Alberbury church.</p>

<h3 id="12-apr-2021">12 Apr 2021</h3>
<p>Changed churches to be organised by Diocese.</p>

<h3 id="10-apr-2021">10 Apr 2021</h3>
<p>Added the following items:</p>

<ul>
  <li>Withington Church</li>
  <li>Rodington Church</li>
</ul>

<h3 id="06-apr-2021">06 Apr 2021</h3>
<p>Replace photo of Shelve church.</p>

<p>Replace photo of Cressage church.</p>

<p>Add photo for Henry Eckford.</p>

<p>Add photo of Ironbridge.</p>

<p>Add three photos of the Long Mynd.</p>

<p>Added the following items:</p>

<ul>
  <li>Edgmond Church</li>
  <li>Eaton Constantine Church</li>
</ul>

<h3 id="03-jan-2021">03 Jan 2021</h3>
<p>Re-engineer the site to use the BootStrap framework.</p>

<p>Added the following items:</p>

<ul>
  <li>Meole Brace Church</li>
  <li>The Iron Bridge at Christmas</li>
  <li>Billy Wright (to people only)</li>
</ul>

<h3 id="24-dec-2020">24 Dec 2020</h3>
<p>Added the following item:</p>

<ul>
  <li>Kenley Church</li>
</ul>

<h3 id="05-dec-2020">05 Dec 2020</h3>
<p>Added the following items:</p>

<ul>
  <li>Stanton Lacy Church</li>
  <li>Onibury Church</li>
  <li>Ludford Water Mill, Ludlow</li>
  <li>Horseshow Weir, Ludlow</li>
  <li>Bicton Church</li>
</ul>

<h3 id="14-nov-2020">14 Nov 2020</h3>
<p>Added the following items:</p>

<ul>
  <li>Hospital of the Holy Cross, Shrewsbury</li>
  <li>High Ercall Church</li>
  <li>Bromfield Church</li>
</ul>

<h3 id="18-oct-2020">18 Oct 2020</h3>
<p>Added the following items:</p>

<ul>
  <li>Stanton upon Hine Heath Church</li>
  <li>Condover Church</li>
</ul>

<h3 id="10-oct-2020">10 Oct 2020</h3>
<p>Added the following items:</p>

<ul>
  <li>Lee Brockhurst Church</li>
  <li>Newtown Church</li>
</ul>

<h3 id="03-oct-2020">03 Oct 2020</h3>
<p>Added the following items:</p>

<ul>
  <li>Norbury Church</li>
  <li>Broseley Church</li>
  <li>Benthall Church</li>
  <li>Baschurch Church</li>
  <li>Baschurch Yew Tree</li>
  <li>The Hollies x 2</li>
  <li>The Long Mynd x 11</li>
  <li>Longnor Church</li>
  <li>Petton Church - extra images</li>
  <li>Broseley Railway</li>
</ul>

<h3 id="22-sep-2020">22 Sep 2020</h3>
<p>Added the following items:</p>

<ul>
  <li>Sheinton Church</li>
  <li>Wellington Church</li>
  <li>Cound Church</li>
  <li>Great Ryton Church</li>
  <li>Langley Chapel</li>
  <li>Wentnor Church</li>
  <li>Norbury Yew Tree</li>
</ul>

<h3 id="29-aug-2020">29 Aug 2020</h3>
<p>Added the following items:</p>

<ul>
  <li>Shrewsbury - Shire Hall</li>
  <li>Shrewsbury - view from Lord Hill Column</li>
  <li>Adderley Church</li>
</ul>

<h3 id="22-aug-2020">22 Aug 2020</h3>
<p>Added the following items:</p>

<ul>
  <li>Longford - Talbot Chapel</li>
  <li>Preston Gubbals Church</li>
  <li>Hadnall Church</li>
  <li>Shrewsbury - Weir</li>
  <li>Westbury Church</li>
</ul>

<h3 id="12-aug-2020">12 Aug 2020</h3>
<p>Added the following items:</p>

<ul>
  <li>Coalport - Memorial Bridge</li>
  <li>Coalport - The Hay Inclined Plane</li>
  <li>Jackfield - Craven Dunhill &amp; Co Ltd</li>
  <li>Jackfield - Maw &amp; Co</li>
  <li>Jackfield Church</li>
  <li>Jackfield - The Boat Inn</li>
  <li>Ironbridge - The Rotunda</li>
  <li>Coalport - Canal Basin</li>
  <li>ironbridge - Bedlam Furnace</li>
  <li>Ironbridge - Early Morning Shadow</li>
  <li>Ironbridge - bridge restoration</li>
  <li>Inronbridge - general</li>
  <li>Ironbridge - War Memorial</li>
  <li>Dorrington Church</li>
  <li>Kynnersley Church</li>
  <li>Tibberton Church</li>
  <li>The Long Mynd x 3</li>
  <li>The Long Mynd Pony</li>
  <li>Bishop’s Castle x 2</li>
  <li>Bishop’s Castle - House on Crutches</li>
  <li>Bishop’s Castle Church</li>
</ul>

<h3 id="26-jul-2020">26 Jul 2020</h3>
<p>Added the following items:</p>

<ul>
  <li>Alberbury - stone cross</li>
  <li>Alberbury Church</li>
  <li>Shrewsbury Congregational Church</li>
</ul>

<h3 id="19-jul-2020">19 Jul 2020</h3>
<p>Added the following item:</p>

<ul>
  <li>The Wrekin</li>
</ul>

<p>Updated the photo for Buildwas Church</p>

<h3 id="18-jul-2020">18 Jul 2020</h3>
<p>Added the following items:</p>

<ul>
  <li>St Milburga’s Well</li>
  <li>Stoke St Milborough Church</li>
  <li>Clee St Margaret Church</li>
</ul>

<h3 id="13-jul-2020">13 Jul 2020</h3>
<p>Added the following item:</p>

<ul>
  <li>Preston-upon-the-Weald-Moors Church</li>
</ul>

<h3 id="11-jul-2020">11 Jul 2020</h3>
<p>Added the following item:</p>

<ul>
  <li>Cardeston Church</li>
</ul>

<h3 id="28-jun-2020">28 Jun 2020</h3>
<p>Added the following items:</p>

<ul>
  <li>Stapleton Church</li>
  <li>Church Pulverbatch Church</li>
  <li>Church Pulverbatch - Memorial</li>
</ul>

<h3 id="21-jun-2020">21 Jun 2020</h3>
<p>Added the following items:</p>

<ul>
  <li>Whittington Church</li>
  <li>Selattyn Church</li>
</ul>

<p>Replaced Whiitington Castle photo</p>

<h3 id="09-jun-2020">09 Jun 2020</h3>
<p>Added the following items:</p>

<ul>
  <li>Battlefield Church gargoyles</li>
  <li>Battle of Shrewsbury</li>
  <li>Battlefield Church</li>
</ul>

<h3 id="31-may-2020">31 May 2020</h3>
<p>Added the following items:</p>

<ul>
  <li>Claverley - miscellaneous x 4 items</li>
  <li>Claverley yew tree x 2 items</li>
  <li>Chelmarsh Church</li>
  <li>Claverley Church</li>
</ul>

<h3 id="23-may-2020">23 May 2020</h3>
<p>Added the following items:</p>

<ul>
  <li>Snailbeach / The Stiperstones - The Hollies</li>
  <li>Blakemoorgate Cottages 1</li>
  <li>Blakemoorgate Cottages 2</li>
  <li>The Stiperstones - view from Blakemoorgate 1</li>
  <li>The Stiperstones - view from Blakemoorgate 2</li>
  <li>Snailbeach Lead Mine - entrance</li>
</ul>

<h3 id="16-may-2020">16 May 2020</h3>
<p>Added the following items:</p>

<ul>
  <li>Apley Woods - sculpture (badgers)</li>
  <li>Apley Woods - sculpture (pheasant and badger)</li>
  <li>Apley Woods - Energy Rising sculpture</li>
  <li>Apley Woods - mansion</li>
  <li>VE day</li>
  <li>Halford Church</li>
  <li>Hope Bowdler Church</li>
</ul>

<h3 id="03-may-2020">03 May 2020</h3>
<p>Added the following items:</p>

<ul>
  <li>Eyton upon the Weald Moors Church</li>
  <li>Wellington Church</li>
</ul>

<h3 id="01-apr-2020">01 Apr 2020</h3>
<p>Updates to the Gardens page</p>

<h3 id="26-mar-2020">26 Mar 2020</h3>
<p>Re-enginnered the Churches page (again)</p>

<p>Added the following items:</p>

<ul>
  <li>Shelve Church</li>
  <li>Myndtown Church</li>
</ul>

<h3 id="15-mar-2020">15 Mar 2020</h3>
<p>Organise latest images by month</p>

<p>Added the following items:</p>

<ul>
  <li>Upton Magna Church</li>
  <li>Cressage Church</li>
  <li>Longdon on Tern Church</li>
  <li>Wrockwardine Church</li>
  <li>Atcham Bridge</li>
  <li>Attingham Park - flooded parkland</li>
  <li>Atcham - tree in flood water</li>
  <li>Cantlop Bridge</li>
  <li>Cruck Cottage, Upton Magna</li>
  <li>John “Mad Jack” Mytton’s Ghost</li>
  <li>River flooding near Cressage</li>
  <li>Buildwas Church</li>
  <li>The Wrekin</li>
  <li>Yockleton Church</li>
  <li>Chirbury Church</li>
</ul>

<h3 id="23-feb-2020">23 Feb 2020</h3>
<p>Added the following item:</p>

<ul>
  <li>Stoke on Tern Church</li>
</ul>

<h3 id="13-feb-2020">13 Feb 2020</h3>
<p>Re-enginnered the Churches page</p>

<p>Added the following items:</p>

<ul>
  <li>Caer Caradoc</li>
  <li>Willstone Hill - the Battle Stones</li>
  <li>Hope Bowdler Hill - the Gaer Stone</li>
</ul>

<h3 id="09-feb-2020">09 Feb 2020</h3>
<p>Added the following items:</p>

<ul>
  <li>Cardington - The Royal Oak</li>
  <li>Cardington - Telephone Box</li>
  <li>Cardington Church</li>
  <li>Church Stretton Church</li>
</ul>

<h3 id="03-feb-2020">03 Feb 2020</h3>
<p>Added the following item:</p>

<ul>
  <li>Crudgington Church</li>
</ul>

<h3 id="01-feb-2020">01 Feb 2020</h3>
<p>Added the following items:</p>

<ul>
  <li>Kinnerley Church</li>
  <li>Atcham Church</li>
  <li>Ironbridge Church</li>
  <li>Ironbridge Tollhouse</li>
  <li>ironbridge Warehouse</li>
  <li>Ironbridge general x 3</li>
  <li>Coalbrookdale Church</li>
  <li>Lydham Church</li>
  <li>Hodnet Hall Garden</li>
  <li>Beckbury Church</li>
</ul>

<p>Added item counts to the pages</p>

<h3 id="08-jan-2020">08 Jan 2020</h3>
<p>Separated the Churches from the History page</p>

<p>Ordered churches by name</p>

<p>Added support for multiple photos per Church and added several new photos</p>

<p>Added the following items:</p>

<ul>
  <li>Ludlow x 4 pictures</li>
  <li>Ludlow - 2 King St</li>
  <li>Ludlow - 4 Brand Ln</li>
  <li>Ludlow - Dinham House</li>
  <li>Shrewsbury x 6 pictures</li>
  <li>Shrewsbury - St Julian’s</li>
  <li>Ightfield - Stone Cross</li>
  <li>Replaced picture for Much Wenlock Church</li>
</ul>

<p>Replaced picture for Much Wenlock Guildhall</p>

<p>Replaced picture for Shrewsbury Abbey</p>

<p>Replaced picture of Bitterley Church</p>

<h3 id="24-dec-2019">24 Dec 2019</h3>
<p>Added the following items:</p>

<ul>
  <li>Ightfield Church</li>
  <li>Ebenezer Scrooge’s Grave</li>
</ul>

<h3 id="18-dec-2019">18 Dec 2019</h3>
<p>Added the following items:</p>

<ul>
  <li>Millichope Glasshouses</li>
  <li>Millichope Walled Garden</li>
  <li>Munslow Church</li>
  <li>Ironbridge Cooling Towers Demolition</li>
  <li>Whitchurch photos x 2</li>
  <li>Whitchurch Clock Maker</li>
  <li>Newport Church</li>
  <li>Diddlebury Church</li>
</ul>

<h3 id="29-sep-2019">29 Sep 2019</h3>
<p>Added the Gardens page</p>

<h3 id="21-sep-2019">21 Sep 2019</h3>
<p>Added the following items:</p>

<ul>
  <li>Cockshutt Church</li>
  <li>Ellesmere Church</li>
  <li>Shropshire Union Railways and Canal Company</li>
  <li>Betton Strange Church</li>
  <li>Bridgnorth Church x 2</li>
</ul>

<h3 id="09-sep-2019">09 Sep 2019</h3>
<p>Added the recent images page</p>

<h3 id="06-sep-2019">06 Sep 2019</h3>
<p>Added the followng items:</p>

<ul>
  <li>Stokesay Castle</li>
  <li>Stokesay Church</li>
  <li>Buildwas Abbey</li>
  <li>William Penny Brookes</li>
  <li>Bitterley Church</li>
  <li>Bitterley Stone Cross</li>
  <li>Burford Church</li>
  <li>Burford House</li>
  <li>Tong Church</li>
  <li>Tong Infirmary</li>
  <li>Longden Church</li>
  <li>The Places page</li>
  <li>The Houses page</li>
</ul>

<p>Small changes to the style of the site</p>

<p>Added various miscellaneous photos</p>

<h3 id="08-aug-2019">08 Aug 2019</h3>
<p>Added the followng items:</p>

<ul>
  <li>The Feathers - Ludlow</li>
  <li>Ludlow Church (St John)</li>
  <li>Ludlow friary and burial ground</li>
  <li>Welshampton Church</li>
  <li>Llanyblodwel Church</li>
  <li>Wem Sweet Pea festival and Henry Eckford</li>
</ul>

<p>Other changes:</p>

<ul>
  <li>Added the Castles page</li>
</ul>

<h3 id="16-jul-2019">16 Jul 2019</h3>
<p>Added the followng items:</p>

<ul>
  <li>Pitchford Hall</li>
  <li>Pitchford Church</li>
  <li>Pitchford Treehouse</li>
  <li>Acton Scott Church</li>
  <li>Morville Hall</li>
  <li>Morville Church</li>
</ul>

<p>Other changes:</p>

<ul>
  <li>Added maps to the churches page</li>
</ul>

<h3 id="21-jun-2019---initial-release">21 Jun 2019 - Initial release</h3>
<p>The first publication of My Shropshire web site.</p>

<p>This initial release includes the following pages:</p>

<ul>
  <li>Home</li>
  <li>History (103 pictures)</li>
  <li>Landscape (25 pictures)</li>
  <li>Churches (28 pictures)</li>
  <li>People (7 pictures)</li>
  <li>Folklore (2 pictures)</li>
  <li>Miscellaneous (13 pictures)</li>
</ul>
