<!-- Header -->
<ul class="tb">
{% if page.name == "index.html" %}
  <li class="tb"><a class="active" href="index.html">Home</a></li>
{% else %}
  <li class="tb"><a href="index.html">Home</a></li>
{% endif %}
{% if page.name == "recent.html" %}
  <li class="tb"><a class="active" href="recent.html">Latest Images</a></li>
{% else %}
  <li class="tb"><a href="recent.html">Latest Images</a></li>
{% endif %}
{% if page.name == "history.html" %}
  <li class="tb"><a class="active" href="history.html">History</a></li>
{% else %}
  <li class="tb"><a href="history.html">History</a></li>
{% endif %}
{% if page.name == "landscape.html" %}
  <li class="tb"><a class="active" href="landscape.html">Landscape</a></li>
{% else %}
  <li class="tb"><a href="landscape.html">Landscape</a></li>
{% endif %}
{% if page.name == "castles.html" %}
  <li class="tb"><a class="active" href="castles.html">Castles</a></li>
{% else %}
  <li class="tb"><a href="castles.html">Castles</a></li>
{% endif %}
{% if page.name == "churches.html" %}
  <li class="tb"><a class="active" href="churches.html">Churches</a></li>
{% else %}
  <li class="tb"><a href="churches.html">Churches</a></li>
{% endif %}
{% if page.name == "houses.html" %}
  <li class="tb"><a class="active" href="houses.html">Houses</a></li>
{% else %}
  <li class="tb"><a href="houses.html">Houses</a></li>
{% endif %}
{% if page.name == "people.html" %}
  <li class="tb"><a class="active" href="people.html">People</a></li>
{% else %}
  <li class="tb"><a href="people.html">People</a></li>
{% endif %}
{% if page.name == "folklore.html" %}
  <li class="tb"><a class="active" href="folklore.html">Folklore</a></li>
{% else %}
  <li class="tb"><a href="folklore.html">Folklore</a></li>
{% endif %}
{% if page.name == "places.html" %}
  <li class="tb"><a class="active" href="places.html">Places</a></li>
{% else %}
  <li class="tb"><a href="places.html">Places</a></li>
{% endif %}
{% if page.name == "gardens.html" %}
  <li class="tb"><a class="active" href="gardens.html">Gardens</a></li>
{% else %}
  <li class="tb"><a href="gardens.html">Gardens</a></li>
{% endif %}
{% if page.name == "miscellaneous.html" %}
  <li class="tb"><a class="active" href="miscellaneous.html">Miscellaneous</a></li>
{% else %}
  <li class="tb"><a href="miscellaneous.html">Miscellaneous</a></li>
{% endif %}
</ul>

<div class="rowh">
<div class="columntl">
<h1>{{ page.title }}</h1>
{% if page.name == "castles.html" %}
<iframe src="https://www.google.co.uk/maps/d/embed?mid=1Z-t4uPsodgBWqsR6SZCLVMP1tgJzqqxA" width="440" height="300"></iframe>
{% endif %}
{% if page.name == "churches.html" %}
<iframe src="https://www.google.co.uk/maps/d/embed?mid=129Y_cZQyAUwAwyFNFb-jWPcMyX8aBOPZ" width="440" height="300"></iframe>
<iframe src="https://www.google.co.uk/maps/d/embed?mid=1UBGi054_OErBBCFvxLHzmffegbrRhGFx" width="440" height="300"></iframe>
{% endif %}
</div>
</div>
