---
layout: shropshire
title: Churches of Shropshire
---

{% include 1-header.html %}

<div class="rowh">
<div class="columntl">
<p style="color:#DDDDDD;"><b>
  As the number of churches featured on this page has increased, it has been split into two separate pages - North and South - use the links below to access these pages:
</b></p>
<p>
  <a href="1-churches-north.html"><b>North</b></a>
</p>
<p>
  <a href="1-churches-south.html"><b>South</b></a>
</p>
<p style="color:#DDDDDD;"><b>
  All churches are listed on a single page below:
</b></p>
<p>
  <a href="1-churches-all.html"><b>Summary List of All Churches</b></a>
</p>
</div>
</div>

<h1>Maps</h1>
<div class="map-responsive">
  <iframe src="https://www.google.co.uk/maps/d/embed?mid=129Y_cZQyAUwAwyFNFb-jWPcMyX8aBOPZ"></iframe>
</div>
<div class="map-responsive">
  <iframe src="https://www.google.co.uk/maps/d/embed?mid=1UBGi054_OErBBCFvxLHzmffegbrRhGFx"></iframe>
</div>

{% include 1-footer.html %}
