---
layout: shropshire
title: Folklore of Shropshire
---

{% include 1-header.html %}

{% assign numrecs = 0 %}

{% for item in site.data.Shropshire_Notebook-Folklore %}

{% assign numrecs = numrecs | plus: 1 %}

{% if item.Type == "Item" %}
{% if orientation == "right" %}
  {% assign orientation = "left" %}
{% else %}
  {% assign orientation = "right" %}
{% endif %}
<div class="rowh">
  <div class="columnhl">
  <h2>{{ item.Date }}</h2>
  </div>
  <div class="columnhr">
  <h3>{{ item.Name }}</h3>
{% if orientation == "right" %}
    <img src="assets/images/folklore/{{ item.Thumbnail }}" alt="" class="ml" align="right" style="max-width:100%">
{% else %}
    <img src="assets/images/folklore/{{ item.Thumbnail }}" alt="" class="mr" align="left" style="max-width:100%">
{% endif %}
{{ item.Description | markdownify }}
  </div>
</div>
{% endif %}

{% endfor %}

<p>Number of records: {{ numrecs }}</p>

{% include 1-footer.html %}
