---
layout: shropshire
title: Other Pictures of Shropshire
imagefolder: other
---

{% include 1-header.html %}

{% assign numrecs = 0 %}

{% for item in site.data.Shropshire_Notebook-Other %}

{% assign numrecs = numrecs | plus: 1 %}

{% if item.Type == "Item" %}

{% if orientation == "left" %}
  {% assign orientation = "right" %}
  <div class="columnpr">
  <h3>{{ item.Name }}</h3>
  <img src="assets/images/{{ page.imagefolder }}/{{ item.Thumbnail }}" alt="" class="mc" style="max-width:100%">
  {{ item.Description | markdownify }}
  </div>
  </div>
{% else %}
  {% assign orientation = "left" %}
  <div class="rowh">
  <div class="columnpl">
  <h3>{{ item.Name }}</h3>
  <img src="assets/images/{{ page.imagefolder }}/{{ item.Thumbnail }}" alt="" class="mc" style="max-width:100%">
  {{ item.Description | markdownify }}
  </div>
{% endif %}

{% endif %}

{% endfor %}

{% if orientation == "left" %}
</div>
{% endif %}

<p>Number of records: {{ numrecs }}</p>

{% include 1-footer.html %}
