---
layout: shropshire
title: Towns of Shropshire
imagefolder: places
---

{% include 1-header.html %}

<hr>
<h2>Bridgnorth</h2>

<hr>
<h2>Ludlow</h2>

{% for item in site.data.Shropshire_Notebook-Ludlow %}

{% if item.Type == "Item" %}

{% if orientation == "left" %}
  {% assign orientation = "right" %}
  <div class="columnpr">
  <h3>{{ item.Name }}</h3>
  <img src="assets/images/{{ page.imagefolder }}/{{ item.Thumbnail }}" alt="" class="mc" style="max-width:100%">
  {{ item.Description | markdownify }}
  </div>
  </div>
{% else %}
  {% assign orientation = "left" %}
  <div class="rowh">
  <div class="columnpl">
  <h3>{{ item.Name }}</h3>
  <img src="assets/images/{{ page.imagefolder }}/{{ item.Thumbnail }}" alt="" class="mc" style="max-width:100%">
  {{ item.Description | markdownify }}
  </div>
{% endif %}

{% endif %}

{% endfor %}

{% if orientation == "left" %}
</div>
{% endif %}

<hr>
<h2>Oswestry</h2>

<hr>
<h2>Shrewsbury</h2>

{% assign orientation = "unknown" %}

{% for item in site.data.Shropshire_Notebook-Shrewsbury %}

{% if item.Type == "Item" %}

{% if orientation == "left" %}
  {% assign orientation = "right" %}
  <div class="columnpr">
  <h3>{{ item.Name }}</h3>
  <img src="assets/images/{{ page.imagefolder }}/{{ item.Thumbnail }}" alt="" class="mc" style="max-width:100%">
  {{ item.Description | markdownify }}
  </div>
  </div>
{% else %}
  {% assign orientation = "left" %}
  <div class="rowh">
  <div class="columnpl">
  <h3>{{ item.Name }}</h3>
  <img src="assets/images/{{ page.imagefolder }}/{{ item.Thumbnail }}" alt="" class="mc" style="max-width:100%">
  {{ item.Description | markdownify }}
  </div>
{% endif %}

{% endif %}

{% endfor %}

{% if orientation == "left" %}
</div>
{% endif %}

<hr>
<h2>Telford</h2>

<hr>
<h2>Whitchurch</h2>

{% assign orientation = "unknown" %}

{% for item in site.data.Shropshire_Notebook-Whitchurch %}

{% if item.Type == "Item" %}

{% if orientation == "left" %}
  {% assign orientation = "right" %}
  <div class="columnpr">
  <h3>{{ item.Name }}</h3>
  <img src="assets/images/{{ page.imagefolder }}/{{ item.Thumbnail }}" alt="" class="mc" style="max-width:100%">
  {{ item.Description | markdownify }}
  </div>
  </div>
{% else %}
  {% assign orientation = "left" %}
  <div class="rowh">
  <div class="columnpl">
  <h3>{{ item.Name }}</h3>
  <img src="assets/images/{{ page.imagefolder }}/{{ item.Thumbnail }}" alt="" class="mc" style="max-width:100%">
  {{ item.Description | markdownify }}
  </div>
{% endif %}

{% endif %}

{% endfor %}

{% if orientation == "left" %}
</div>
{% endif %}

{% include 1-footer.html %}
