---
layout: shropshire
title: References
---

{% include 1-header.html %}

<h1>Books</h1>

<p style="color:#DDDDDD;"><b>
The following books have provided a useful source of reference:
</b></p>
<table>
<tr>
<td><img src="assets/images/book1.jpg" alt="" height="300"></td>
<td><img src="assets/images/book2.jpg" alt="" height="300"></td>
<td><img src="assets/images/book3.jpg" alt="" height="300"></td>
</tr>
</table>
<hr>
<h1>Web Sites</h1>

<p style="color:#DDDDDD;"><b>
The following web sites have provided a useful source of reference:
</b></p>
<p><a href="http://www.shropshirehistory.org.uk/" target="_blank">Discovering Shropshire's History</a></p>
<p><a href="http://kepn.nottingham.ac.uk/" target="_blank">Key to English Place Names</a></p>
<p><a href="https://historicengland.org.uk/" target="_blank">Historic England</a></p>
<p><a href="https://www.shropshirehct.org.uk/" target="_blank">Shropshire Historic Churches Trust</a></p>
<p><a href="https://www.achurchnearyou.com/" target="_blank">A Church Near You</a></p>
<p><a href="https://www.english-heritage.org.uk/visit/places/wroxeter-roman-city/history/" target="_blank">History of Wroxeter Roman City</a></p>

<p style="color:#DDDDDD;"><b>
Wikipedia Pages:
</b></p>
<p><a href="https://en.wikipedia.org/wiki/History_of_Shropshire" target="_blank">History of Shropshire</a></p>
<p><a href="https://en.wikipedia.org/wiki/History_of_Wales" target="_blank">History of Wales</a></p>
<p><a href="https://en.m.wikipedia.org/wiki/Cornovii_(Midlands)" target="_blank">Cornovii</a></p>
<p><a href="https://en.wikipedia.org/wiki/Pengwern" target="_blank">Pengwern</a></p>
<p><a href="https://en.wikipedia.org/wiki/Mercia target="_blank">Mercia</a></p>
<p><a href="https://en.wikipedia.org/wiki/Magons%C3%A6te target="_blank">Magonsaete</a></p>
<p><a href="https://en.wikipedia.org/wiki/Religion_in_Mercia target="_blank">Religion in Mercia</a></p>

{% include 1-footer.html %}
