---
layout: shropshire
title: Latest Images
---

{% include 1-header.html %}

{% assign nextdate = "0000-00" %}

{% for item in site.data.Shropshire_Notebook-Recent %}

{% assign filedatea = item.Thumbnail | split: '/' %}
{% assign filedate = filedatea[1] | truncate: 7, "" %}
{% if filedate != nextdate %}
{% if orientation == "left" %}
</div>
{% endif %}
<hr>
<h1>{{ filedate }}</h1>
<div class="rowh">
{% assign nextdate = filedate %}
{% assign orientation = "right" %}
{% endif %}

{% if item.Type == "Item" %}

{% if orientation == "left" %}
  {% assign orientation = "right" %}
  <div class="columnpr">
  <img src="assets/images/{{ item.Thumbnail }}" alt="" style="max-width:100%">
  </div>
</div>
<div class="rowh">
{% else %}
  {% assign orientation = "left" %}
  <div class="columnpl">
  <img src="assets/images/{{ item.Thumbnail }}" alt="" style="max-width:100%">
  </div>
{% endif %}

{% endif %}

{% endfor %}

</div>

{% include 1-footer.html %}
