---
layout: shropshire
title: References
---

{% include 1-header.html %}

<h1>Books</h1>

<p style="color:#DDDDDD;"><b>
The following books have provided a useful source of reference:
</b></p>
<table>
<tr>
<td><img src="assets/images/book1.jpg" alt="" height="300"></td>
<td><img src="assets/images/book2.jpg" alt="" height="300"></td>
<td><img src="assets/images/book3.jpg" alt="" height="300"></td>
</tr>
</table>
<hr>
<h1>Web Sites</h1>

<p style="color:#DDDDDD;"><b>
The following web sites have provided a useful source of reference:
</b></p>
<p><a href="http://www.shropshirehistory.org.uk/" target="_blank">Discovering Shropshire's History</a></p>
<p><a href="http://kepn.nottingham.ac.uk/" target="_blank">Key to English Place Names</a></p>
<p><a href="https://historicengland.org.uk/" target="_blank">Historic England</a></p>
<p><a href="https://www.shropshirehct.org.uk/" target="_blank">Shropshire Historic Churches Trust</a></p>
<p><a href="https://www.achurchnearyou.com/" target="_blank">A Church Near You</a></p>

{% include 1-footer.html %}
